<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger</title>
	</head>
	<body>
		<div id="header-div">
		<h1>Eat Da Burger!</h1>
		</div>

		<div id="burger-pic-div">
			<img src="/assets/images/burger.png" id="burger-pic" alt="Picture of Burger">
		</div>
		<hr>
		{{{ body }}}
	</body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerscript.js"></script>
</html>