body {
  background: tan;
  margin-left: 10%;
  margin-right: 10%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#undevoured-block {
  /* display: inline-block; */
  float: left;
  height: 100%;
  width: 45%;
  min-height: 100%;
}

#burgers-block {
  position: relative;
}

#burgers-block:after {
  content: "";
  display: table;
  clear: both;
}

#devoured-block {
  /* display: inline-block; */
  float: right;
  width: 45%;
  top:0px;
  min-height: 100%;
}

#burger-pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15%;
}

#header-div {
  text-align: center;
}